{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": ["next/core-web-vitals", "react", "prettier"],
  "plugins": ["react", "@typescript-eslint", "prettier", "unused-imports"],
  "parser": "@typescript-eslint/parser",
  "root": true,
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"]
    }
  ],
  "rules": {
    "prettier/prettier": ["error"],
    "max-len": [
      "warn",
      {
        "code": 80,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "eqeqeq": ["warn", "smart"],
    "semi": ["error", "never"],
    "strict": "error",
    "prefer-destructuring": "error",
    "unused-imports/no-unused-imports": "warn",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "no-multiple-empty-lines": [
      "warn",
      {
        "max": 1
      }
    ],
    "space-in-parens": ["error", "never"],
    "object-curly-spacing": ["error", "always"],
    "no-console": "warn",
    "no-use-before-define": "off",
    "func-style": ["error", "expression"],
    "@typescript-eslint/explicit-function-return-type": [
      "error",
      {
        "allowExpressions": true
      }
    ],
    "@typescript-eslint/explicit-module-boundary-types": "error",
    "react/prop-types": "off",
    "react/jsx-sort-props": [
      "error",
      {
        "callbacksLast": true,
        "shorthandFirst": true,
        "ignoreCase": true,
        "noSortAlphabetically": false,
        "reservedFirst": ["key", "ref"]
      }
    ],
    "react/destructuring-assignment": ["error", "always"]
  }
}
