{
    "semi": false,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "singleQuote": true,
    "jsxSingleQuote": true,
    "tabWidth": 2,
    "trailingComma": "none",
    "printWidth": 80
  }